.orders {
  background-color: white;
  padding: 30px 25px;
  margin: 25px 50px;
  text-align: left;

  table {
    width: 100%;
    tr {
      height: 50px;
    }
    td {
      border-bottom: thin solid rgb(241, 242, 246);
      padding-left: 20px;
      color: gray;
    }
  }
  #table-head {
    td {
      color: black;
    }
    background-color: rgb(241, 242, 246);
  }

  button {
    width: 50px;
    height: 30px;
    color: red;
    background-color: rgb(241, 242, 246);
    border-radius: 2px;
  }

  #hint {
    margin-bottom: 20px;
    font-size: large;
  }

  #back-to-shopping-mall {
    margin-top: 20px;
    background-color: rgb(66, 144, 247);
    width: 30px;
    height: 20px;
    color: black;
  }
}
