.shoppingMall {
  background-color: white;
  padding: 30px 25px;
  margin: 25px 50px;
  .goodsList {
    display: inline-block;
    width: 150px;
    height: 200px;
    border: thin solid rgb(241, 242, 246);
    padding: 10px 10px;
    margin: 20px 20px
  }
  h3 {
    margin-top: 5px;
  }
  p {
    margin-top: 5px;
    color: gray;
  }
  button {
    float: right;
    font-size: 20px;
    color: gray;
    background-color: white;
    border-radius: 50%;
  }
}