.AddGoods {
  background-color: white;
  padding: 30px 25px;
  margin: 25px 50px;

  h1 {
    text-align: center;
  }

  h3 {
    font-size: 15px;
  }

  span {
    color: red;
    margin-right: 3px
  }

  .input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 20px;
  }

  button {
    margin-top: 25px;
    background-color: rgb(66, 144, 247);
    color: white;
    width: 50px;
    height: 25px;
  }
}