.App {
  background-color: rgb(241, 242, 246);

  *{
    padding:0;
    margin: 0;
    font-family: sans-serif;
  }
  .shoppingMall {

  }
  header {
    background-color: rgb(4, 21, 39);
    width: 100%;
    height: 50px;
    color: white;
  }

  a {
    height: 100%;
    line-height: 50px;
    text-decoration: none;
    margin: 20px 50px;
    padding: 20px 20px;
  }

  a:visited {
    color: white;
  }
}